  .botao__rodape {
    position: relative;
  }

  .botao__rodape-cadastro {
    padding: 1.6em 1.6em 1.6em 1.61em;
    background-color: var(--cor-azul-claro);
    border-radius: 50%;
    position: absolute;
    right: 1em;
    bottom: 6em;
    border: none;
  }

  .botao__rodape-imgmais {
    width: 18px;
  }

  .botao__rodape__opcoes {
    opacity: 0;
    position: absolute;
    transition: .3s ease;
    transform: scale(0);
    transform-origin: 90% bottom;
    background: rgba(0, 0, 0 , 60%);
    width: 100%;
    right: 0;
    bottom: 0;
    padding: 100vh 0;
    padding-bottom: 130px;
  }

  .botao__rodape__opcoes-listalocalizacao {
    position: absolute;
    right: 1em;
    bottom: 17.2em;
    display: flex;
    align-items: center;
  }

  .botao__rodape-localizacao-texto {
    background-color: var(--cor-branca);
    color: var(--cor-cinza);
    font-weight: 500;
    padding: 0.5em 0.8em;
    border-radius: 26px;
    margin-right: 1em;
  }

  .botao__rodape-camera-texto {
    background-color: var(--cor-branca);
    color: var(--cor-cinza);
    font-weight: 500;
    padding: 0.5em 0.8em;
    border-radius: 26px;
    margin-right: 1em;
  }

  .botao__rodape__opcoes-listacamera {
    position: absolute;
    right: 1em;
    bottom: 11.4em;
  }

  .botao__rodape-localizacao {
    padding: 1.3em 1.5em 1.3em 1.5em;
    background-color: var(--cor-azul-claro);
    border-radius: 50%;
    border: none;
  }

  .botao__rodape-camera {
    padding: 1.6em 1.3em 1.6em 1.3em;
    background-color: var(--cor-azul-claro);
    border-radius: 50%;
    border: none;
  }

  .botao__rodape-imglocalizacao {
    width: 23px;
  }

  .botao__rodape-imgcamera {
    width: 28px;
  }

  .botao__rodape-cadastro:focus + .botao__rodape__opcoes {
    opacity: 1;
    transform: scale(1);
  }

  @media screen and (min-width: 1440px) {
    .botao__rodape {
        display: none;
    }
  }