.cabecalho {
    display: flex;
    margin: 3em 1.5em 1em 1.5em;
    align-items: center;
}

.cabecalho__imagem {
    width: 20%;
    border-radius: 50px;
    margin-right: 1em;
}

.cabecalho__titulo {
    font-size: 22px;
    font-weight: 700;
}

.cabecalho__texto {
    margin: 0.5em 0 0 0.2em;
    color: var(--cor-cinza-claro);
}

@media screen and (min-width: 768px) {
    .cabecalho__imagem {
        width: 10%;
    }
}

@media screen and (min-width: 1440px) {
    .cabecalho__imagem {
        width: 10%;
        border-radius: 100px;
    }

    .cabecalho__titulo {
        font-size: 31px;
        font-weight: 700;
    }

    .cabecalho__texto {
        margin: 1em 0 0 0.2em;
        font-size: 18px;
    }
}